body{
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    background: #eee;
    box-shadow: 0 0 60px 0 rgba(112,132,154,0.65);
}

a{
  color: #cd1959;
  text-decoration: none;
}
a:hover{
  color: #cd1959;
  text-decoration: none;
}

a:focus{
  text-decoration: none;
}

p{
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  margin: 0 0 10px;
}

/*HEADER*/
#top-header{
position: sticky;
padding: 14px 0;
background-color: #FFF;
box-shadow: 0px -1px 7px #888888;
text-transform: uppercase;
}

.navbar-brand img{
  height: 60px;
}

.navbar-light .navbar-toggler{
  position: initial;
  float: right;
}

.btn-danger {
    color: #fff;
    background-color: #cd1959;
    border-color: #cd1959;
    margin-left: 20px;
}

.btn {
  border-radius: 0px;
}

.navbar-light .navbar-nav .nav-link{
  color: rgb(29, 29, 29);
  font-weight: 400;
  font-size: 14px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #cd1959;
  border-bottom: 1px solid;
}
.dropdown-toggle:focus{
  color: #cd1959;
}

.dropdown-toggle:hover{
  border-bottom: 1px solid;
}

.dropdown-toggle img{
  border-radius: 40px;
  width: 50px;
  height: 50px !important;
  margin-left: 35px;
  margin-top: 0px !important;
}

.dropdown-line{
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(204, 30, 89);
}
.dropdown-toggle{
  display: block;
  padding: 0.5em 1em;
  font-size: 0.9em;
}

.show > .dropdown-menu{
  display: inline-flex;

}

.show > a:focus{
  color: #cd1959;
}

.dropdown-large {
  position: static !important;

}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}

.dropdown-menu.dropdown-menu-large.row{
  opacity: 0.9;
}

.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 6px 21px;
  text-transform: capitalize;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin: -20px -15px 19px -16px;
  background-color: #ca1f5b;
  padding: 23px 0px 23px 0px;
  transition: opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out;
  box-shadow: 0px 1px 4px rgba(20, 12, 25, 0.52);
}

.dropdown-menu-large .dropdown-header:hover{
      background-color: #9a1f4b;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      /* ...and now for the proper property */
      transition:.5s;
}


@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

@media (max-width: 991px) {
  .dropdown-toggle{
      display: block;
      font-size: 1.2em;
      padding: 25px 0px 8px 0px;
      text-align: center;
      width: 50%;
      margin: 0 auto;
    }

  .navbar-light .navbar-nav .nav-link{
    text-align: center;
    font-size: 1.2em;
    width: 50%;
    margin: 0 auto;
  }
  }


.dropdown-menu{
  border-radius: 0px;
  top: 116%;
}

.call-icon img{
  height: 40px;
}

a.login{
  line-height: 40px;
  display: block;
  margin-left: 20px;
  text-decoration: underline;
}

a.login img{
  width: 30px;
  margin-left: 8px;
}


/*VIDEO*/

.video-section{
    position: relative;
    width: 100%;
    height: 700px;
    overflow: visible;
}
.video-section .video{
  height: 100%;
  overflow: hidden;
}

.video-section .video video{
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -1;
}

.video-section .video .overlay-video{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.28);
}

.video-section .text-wrapper{
  position: absolute;
  top: 285px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
}

.video-section h1{
  font-size: 60px;
  font-weight: lighter;
}

.video-link{
  padding-top: 30px;
  border-top: 1px solid;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.video-image{
  height: 100px;
  opacity: 0.9;
  transition: opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out;
}

.video-image:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  opacity: 1;
}

h2.play-text{
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    margin-top: 10px;
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

span.element{
  font-weight: 400;
}

@media (max-width: 500px) {
  .video-section h1 {
      font-size: 28px;
  }
  .video-section{
    height: 500px;
  }

  .video-section .text-wrapper{
    top: 190px;
  }
}


#about{
  padding: 70px 0 0;
  background-color: #FFF;
  -webkit-box-shadow: inset 0px -3px 5px -1px rgba(0,0,0,0.24);
  -moz-box-shadow: inset 0px -3px 5px -1px rgba(0,0,0,0.24);
  box-shadow: inset 0px -2px 5px -2px rgba(0,0,0,0.24);
}

#about .section-header{
  padding-bottom: 30px;
}

@media (max-width: 1000px){

  #about .col-sm-7 {
      -webkit-box-flex: 0;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
  #about .col-sm-5 {
      -webkit-box-flex: 0;
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }

  .testimonial .col-sm-6{
    -webkit-box-flex: 0;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.section-title{
  margin-bottom: 15px;
display: block;
clear: both;
font-size: 28px;
line-height: 38px;
text-align: center;
font-weight: 400;
color: #262f32;
text-transform: uppercase;
}

.section-text{
  display: block;
clear: both;
font-size: 16px;
line-height: 28px;
text-align: center;
font-weight: 300;
color: #8d8d8d;
}
.img-responsive{
display: block;
max-width: 100%;
height: auto;
}

.column-title {
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
  }

.column-title:after {
      content: " ";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 40%;
      border-bottom: 1px solid #cd1a5a;
  }

  .btn.btn-primary {
      background: #cd1959;
      border-color: #cd1959;
    }

  .btn.btn-primary:focus{
      color: #fff;
    }

/*PRODUKT TABS */

.forsideicon {
    height: 40px;
    padding-right: 14px;
}

.testimonial{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #242a33;
}

.quote-title{
  margin: 0 auto;
padding: 0;
text-align: center;
font-weight: 700;
font-size: 3em;
line-height: 1;
color: #FFF;
}

.reviews{
  margin: 2rem 0 0 0;
  padding: 0 0 4rem 0;
}

.reviews__item{
  padding: 4rem;
  -webkit-transform: rotate(-1deg);
-moz-transform: rotate(-1deg);
-ms-transform: rotate(-1deg);
transform: rotate(-1deg);
left: 8rem;
background-image: url(../images/testimonial-background.png);
background-size: 100% 100%;

}

.reviews__item p{
  color: #fff;
}

.intro{
  margin: 1.25em auto -0.75em auto;
  padding: 0;
  max-width: 100% !important;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

cite{
  color: #fff;
}

.header-highlight{
    color: #cd1959;

}
.highlight {
    background-color: #cd1959;
    padding: 1px 2px;
    color: #fff;
    font-weight: 600;
}

.nomargin {
    margin: 0;
}

.portfolio-image img{
  height: auto;
  width: 100%;
}

.portfolio-overlay{
  width: 100%;
  position: absolute;
  height: 100%;
  background: rgba(0, 0, 0, 0.46);;
  z-index: 1;
  opacity: 0.4;
  top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out;
  padding: 10%;
  font-size: 14px;
  line-height: 16px;
}

.portfolio-overlay:hover{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  background: #cd1959;
  cursor: pointer;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(205, 25, 92, 0.55);
}

.portfolio-text h1{
  color: #FFF;
  font-weight: 500;
  z-index: 7;
  margin: 0 auto;
  text-align: center;
  margin-top: 32%;
  margin-top: 3%;
}

.portfolio-text img{
  display: block;
  margin-left: auto;
  margin-top: -5%;
  margin-right: auto;
}

@media (max-width: 1400px) {
  .portfolio-text img{
    display: none;
  }

  .portfolio-text p{
    width: 100% !important;
  }
}

.portfolio-text p{
  color: #FFF;
  font-weight: 200;
  width: 65%;
  z-index: 7;
  margin: 0 auto;
  text-align: center;
}
.portfolio-text hr{
  color: #FFF;
    border-top: 1px solid;
    width: 70%;
    opacity: 0.6;
}

#myFooter {
    background-color: #242a33;
    color: white;
    padding-top: 30px;
    width: 100%;
}
#myFooter .row {
    margin-bottom: 60px;
}
#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}
#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}
#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}
#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}
#myFooter .btn {
    color: white;
    background-color: #cd1959;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}
