// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "../../../node_modules/bootstrap/scss/_variables.scss";
// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

#flash-message {
  position:absolute;
  top: 140px;
  left: 40px;
  z-index: 90;
}